@model IEnumerable<ISS.Models.Data.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.type.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finish_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.type.name)
        </td>
        <td>

          
            @String.Format("{0:dd/MMM/yyyy}", item.start_date)
        </td>
        <td>
            @String.Format("{0:dd/MMM/yyyy}", item.finish_date)
         
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.course_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.course_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.course_ID })
        </td>
    </tr>
}

</table>
