@model ISS.Models.Data.question

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quiz.Course_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quiz.Course_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.describe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.describe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.questionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
