@model IEnumerable<ISS.Models.Data.question>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quiz.Course_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timestamps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.describe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quiz.Course_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.describe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.questionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.questionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.questionID })
        </td>
    </tr>
}

</table>
