@model IEnumerable<ISS.Models.Data.Announcement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Current_courses.course_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.describe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Current_courses.course_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>

            @String.Format("{0:dd/MMM/yyyy}", item.create_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_time)
        </td>
        
        
        <td>
<td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.describe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.announcement_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.announcement_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.announcement_ID })
        </td>
    </tr>
}

</table>
