@model ISS.Models.Data.Current_courses

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Current_courses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.course_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.course_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.describe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.describe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.current_cousre_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
