@model ISS.Models.Data.Courses_Program

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Courses_Program</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Current_courses.course_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Current_courses.course_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day.day1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day.day1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevamZamani.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevamZamani.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finish_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finish_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.program_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
