@model IEnumerable<ISS.Models.Data.answare>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question.quizID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iscorrect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answare_number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.question.quizID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iscorrect)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answare_number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.answareID }) |
            @Html.ActionLink("Details", "Details", new { id=item.answareID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.answareID })
        </td>
    </tr>
}

</table>
